<app-navbar></app-navbar>

<div class="columns is-multiline is-centered add-padding" id="container">
    <div class="column is-one-third change-width" >
        <div class="card is-half">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-2">{{user?.name}}</p>
                  <!-- <p class="subtitle is-6">{{user?._id}}</p> -->
                  <p class="subtitle is-5">{{user?.phone | phone}}</p>
                  <p class="subtitle is-5">{{user?.email}}</p>
                  <app-button-edit></app-button-edit>
                  <br>
                  <app-button-back></app-button-back>  
                </div>
              </div>
            </div>
          </div>
    </div>
    
</div>