<app-navbar-admin></app-navbar-admin>
<div class="columns is-desktop is-vcentered mt-18 mb-12">
    <div
      class="
        column
        is-4-desktop is-6-tablet is-offset-3-tablet is-offset-4-desktop
      "
    >
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h3 class="title is-3 has-text-centered">Cadastre um livro</h3>
            <div
            *ngIf="hasErrorServer"
            class="notification is-danger is-light"
            >
            <button
              class="delete"
              (click)="hasErrorServer = false"
            ></button>
            <span class="icon-text">
              <span class="icon">
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
              </span>
              <span>{{ msgServerError }}</span>
            </span>
          </div>
            <form id="registerForm" [formGroup]="registerForm" (submit)="onSubmit()">
              <div class="field">
                <label for="title" class="label">Título:</label>
                <div class="control">
                  <input
                    id="title"
                    class="input"
                    [ngClass]="{
                      'is-danger':
                        registerForm.get('title').dirty &&
                        !registerForm.get('title').valid
                    }"
                    type="text"
                    formControlName="title"
                  />
                </div>
                <p
                  *ngIf="
                    registerForm.get('title').dirty &&
                    !registerForm.get('title').valid
                  "
                  class="help is-danger"
                >
                  {{ registerForm.get("title").errors | errorForm: "Título" }}
                </p>
              </div>
  
              <div class="field">
                <label for="authors" class="label">Autor:</label>
                <div class="control">
                  <input
                    id="authors"
                    class="input"
                    [ngClass]="{
                      'is-danger':
                        registerForm.get('authors').dirty &&
                        !registerForm.get('authors').valid
                    }"
                    type="text"
                    formControlName="authors"
                  />
                </div>
                <p
                  *ngIf="
                    registerForm.get('authors').dirty &&
                    !registerForm.get('authors').valid
                  "
                  class="help is-danger"
                >
                  {{ registerForm.get("authors").errors | errorForm: "Autor" }}
                </p>
              </div>
              
              <div class="field">
                <label for="dateOfPublication" class="label">Data de Publicação:</label>
                <div class="control">
                  <input
                    id="dateOfPublication"
                    class="input"
                    [ngClass]="{
                      'is-danger':
                        registerForm.get('dateOfPublication').dirty &&
                        !registerForm.get('dateOfPublication').valid
                    }"
                    type="date"
                    formControlName="dateOfPublication"
                  />
                </div>
                <p
                  *ngIf="
                    registerForm.get('dateOfPublication').dirty &&
                    !registerForm.get('dateOfPublication').valid
                  "
                  class="help is-danger"
                >
                  {{ registerForm.get("dateOfPublication").errors | errorForm: "Data de Publicação" }}
                </p>
              </div>
  
              <div class="field">
                <label for="pages" class="label">Páginas:</label>
                <div class="control">
                  <input
                    id="pages"
                    class="input"
                    [ngClass]="{
                      'is-danger':
                        registerForm.get('pages').dirty &&
                        !registerForm.get('pages').valid
                    }"
                    type="number"
                    formControlName="pages"
                  />
                </div>
                <p
                  *ngIf="
                    registerForm.get('pages').dirty &&
                    !registerForm.get('pages').valid
                  "
                  class="help is-danger"
                >
                  {{ registerForm.get("pages").errors | errorForm: "Páginas" }}
                </p>
              </div>

              <div class="field">
                <label for="isbn" class="label">Isbn:</label>
                <div class="control">
                  <input
                    id="isbn"
                    class="input"
                    [ngClass]="{
                      'is-danger':
                        registerForm.get('isbn').dirty &&
                        !registerForm.get('isbn').valid
                    }"
                    type="text"
                    formControlName="isbn"
                  />
                </div>
                <p
                  *ngIf="
                    registerForm.get('isbn').dirty &&
                    !registerForm.get('isbn').valid
                  "
                  class="help is-danger"
                >
                  {{ registerForm.get("isbn").errors | errorForm: "Isbn" }}
                </p>
              </div>

              <div class="field">
                <label for="image" class="label">Url da Imagem:</label>
                <div class="control">
                  <input
                    id="image"
                    class="input"
                    [ngClass]="{
                      'is-danger':
                        registerForm.get('image').dirty &&
                        !registerForm.get('image').valid
                    }"
                    type="url"
                    formControlName="image"
                  />
                </div>
                <p
                  *ngIf="
                    registerForm.get('image').dirty &&
                    !registerForm.get('image').valid
                  "
                  class="help is-danger"
                >
                  {{ registerForm.get("image").errors | errorForm: "Url da Imagem" }}
                </p>
              </div>

              <div class="field">
                <label for="resume" class="label">Resumo:</label>
                <div class="control">
                  <input
                    id="resume"
                    class="input"
                    [ngClass]="{
                      'is-danger':
                        registerForm.get('resume').dirty &&
                        !registerForm.get('resume').valid
                    }"
                    type="text"
                    formControlName="resume"
                  />
                </div>
                <p
                  *ngIf="
                    registerForm.get('resume').dirty &&
                    !registerForm.get('resume').valid
                  "
                  class="help is-danger"
                >
                  {{ registerForm.get("resume").errors | errorForm: "Resumo:" }}
                </p>
              </div>
  
              <div class="field">
                <div class="control">
                  <button
                    class="button is-primary is-fullwidth"
                    [ngClass]="{ 'is-loading': isLoading }"
                    [disabled]="!registerForm.valid"
                  >
                   Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
   </div>
</div>
