<app-navbar-admin></app-navbar-admin>

<div class="columns is-multiline is-centered add-padding">
    <div class="column is-one-third change-width" *ngFor="let b of listAllUsers">
        <div class="card is-half">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4" routerLink="/userDetail">{{b.name}}</p>
                  <p class="subtitle is-6">{{b.email}}</p>
                  <button type="button" class="btn btn-outline-secondary">Excluir</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    
</div>