<div class="columns is-desktop is-vcentered mt-6 mb-5">
  <div
    class="
      column
      is-4-desktop is-6-tablet is-offset-3-tablet is-offset-4-desktop
    "
  >
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h3 class="title is-3 has-text-centered">Cadastre-se</h3>
          <div
          *ngIf="hasErrorServer"
          class="notification is-danger is-light"
          >
          <button
            class="delete"
            (click)="hasErrorServer = false"
          ></button>
          <span class="icon-text">
            <span class="icon">
              <fa-icon [icon]="faExclamationCircle"></fa-icon>
            </span>
            <span>{{ msgServerError }}</span>
          </span>
        </div>
          <form id="signUpForm" [formGroup]="formSignup" (submit)="onSubmit()">
            <div class="field">
              <label for="name" class="label">Nome:</label>
              <div class="control">
                <input
                  id="name"
                  class="input"
                  [ngClass]="{
                    'is-danger':
                      formSignup.get('name').dirty &&
                      !formSignup.get('name').valid
                  }"
                  type="text"
                  formControlName="name"
                />
              </div>
              <p
                *ngIf="
                  formSignup.get('name').dirty &&
                  !formSignup.get('name').valid
                "
                class="help is-danger"
              >
                {{ formSignup.get("name").errors | errorForm: "Nome" }}
              </p>
            </div>

            <div class="field">
              <label for="email" class="label">E-mail:</label>
              <div class="control">
                <input
                  id="email"
                  class="input"
                  [ngClass]="{
                    'is-danger':
                      formSignup.get('email').dirty &&
                      !formSignup.get('email').valid
                  }"
                  type="email"
                  formControlName="email"
                />
              </div>
              <p
                *ngIf="
                  formSignup.get('email').dirty &&
                  !formSignup.get('email').valid
                "
                class="help is-danger"
              >
                {{ formSignup.get("email").errors | errorForm: "E-mail" }}
              </p>
            </div>
            
            <div class="field">
              <label for="phoneNumber" class="label">Telefone:</label>
              <div class="control">
                <input
                  id="phoneNumber"
                  class="input"
                  [ngClass]="{
                    'is-danger':
                      formSignup.get('phoneNumber').dirty &&
                      !formSignup.get('phoneNumber').valid
                  }"
                  type="text"
                  formControlName="phoneNumber"
                />
              </div>
              <p
                *ngIf="
                  formSignup.get('phoneNumber').dirty &&
                  !formSignup.get('phoneNumber').valid
                "
                class="help is-danger"
              >
                {{ formSignup.get("phoneNumber").errors | errorForm: "Telefone" }}
              </p>
            </div>

            <div class="field">
              <label for="newPassword" class="label">Senha:</label>
              <div class="control">
                <input
                  id="newPassword"
                  class="input"
                  [ngClass]="{
                    'is-danger':
                      formSignup.get('newPassword').dirty &&
                      !formSignup.get('newPassword').valid
                  }"
                  type="password"
                  formControlName="newPassword"
                />
              </div>
              <p
                *ngIf="
                  formSignup.get('newPassword').dirty &&
                  !formSignup.get('newPassword').valid
                "
                class="help is-danger"
              >
                {{ formSignup.get("newPassword").errors | errorForm: "Senha" }}
              </p>
            </div>

            <div class="field">
              <div class="control">
                <button
                  class="button is-primary is-fullwidth"
                  [ngClass]="{ 'is-loading': isLoading }"
                  [disabled]="!formSignup.valid"
                >
                  Cadastre-se
                </button>
              </div>
            </div>
          </form>
          <div class="mt-3 mb-0 has-text-centered">
            <span
              >Já possui uma conta?
              <a routerLink="/email">Realize seu login</a>
            </span>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>