
.add-padding{
    padding: 50px;
}

.change-width{
    width: 300px;
}

@media(max-width: 768px) {
    .add-padding{
        display: grid;
    }
}

.is-text-overflow {
    max-width: 230px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span{
    cursor: pointer;
}

.is-center{
    text-align: center;
}

#content{
    text-align: initial;
}