<app-navbar></app-navbar>

<div class="columns">
    <div
      class="
        column
        is-half
        is-offset-one-quarter
      "
    >
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div
              *ngIf="hasErrorServer"
              class="notification is-danger is-light"
              >
              <button
                class="delete"
                (click)="hasErrorServer = false"
              ></button>
              <span class="icon-text">
                <span class="icon">
                  <fa-icon [icon]="faExclamationCircle"></fa-icon>
                </span>
                <span>{{ msgServerError }}</span>
              </span>
            </div>
              <h3 class="title is-3 has-text-centered">Edite seu usuário</h3>
            
 
            </div>
              <form [formGroup]="myForm" (submit)="onSubmit()">
                <div class="field">
                  <label for="name" class="label">Nome:</label>
                  <div class="control">
                    <input
                      id="name"
                      class="input"
                      [ngClass]="{
                        'is-danger':
                        myForm.get('name').dirty &&
                        !myForm.get('name').valid
                      }"
                      type="text"
                      formControlName="name"
                    />
                  </div>
                  <p
                    *ngIf="
                      myForm.get('name').dirty &&
                      !myForm.get('name').valid
                    "
                    class="help is-danger"
                  >
                    {{ myForm.get("name").errors | errorForm: "Nome" }}
                  </p>
                </div>
                  <div class="field">
                    <label for="phone" class="label">Telefone:</label>
                    <div class="control">
                      <input
                        id="phoneNumber"
                        class="input"
                        [ngClass]="{
                          'is-danger':
                          myForm.get('phoneNumber').dirty &&
                          !myForm.get('phoneNumber').valid
                        }"
                        type="text"
                        formControlName="phoneNumber"
                      />
                    </div>
                    <p
                      *ngIf="
                        myForm.get('phoneNumber').dirty &&
                        !myForm.get('phoneNumber').valid
                      "
                        class="help is-danger"
                      >
                        {{ myForm.get("phoneNumber").errors | errorForm: "Telefone" }}
                    </p>
                </div>
                <div class="field">
                  <label for="email" class="label">Email:</label>
                  <div class="control">
                    <input
                      id="email"
                      class="input"
                      [ngClass]="{
                        'is-danger':
                        myForm.get('email').dirty &&
                        !myForm.get('email').valid
                      }"
                      type="text"
                      formControlName="email"
                    />
                  </div>
                  <p
                    *ngIf="
                      myForm.get('email').dirty &&
                      !myForm.get('email').valid
                    "
                      class="help is-danger"
                    >
                      {{ myForm.get("email").errors | errorForm: "E-mail" }}
                  </p>
                </div>

                   <label for="password" class="label">Nova senha:</label>
                  <div class="control">
                    <input
                      id="password"
                      class="input"
                        [ngClass]="{
                          'is-danger':
                          myForm.get('password').dirty &&
                          !myForm.get('password').valid
                        }"
                      type="password"
                      formControlName="password"
                    />
                  </div>
                  <p
                  *ngIf="
                    myForm.get('password').dirty &&
                    !myForm.get('password').valid
                  "
                    class="help is-danger"
                  >
                    {{ myForm.get("password").errors | errorForm: "A nova senha" }}
                </p>

                  <br>
                <div class="field">
                  <div class="control">
                    <button 
                    class="button is-primary is-fullwidth"
                    [ngClass]="{ 'is-loading': isLoading }"
                    [disabled]="!myForm.valid" 
                    type="submit"> 
                     Atualizar
                    </button>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <app-button-back></app-button-back>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
     </div>
  