<app-navbar-admin></app-navbar-admin>
<!-- <app-navbar></app-navbar> -->

<div class="columns is-multiline is-centered add-padding">
    <div class="column is-one-third change-width">
        <div class="card is-half
        is-offset-one-quarter">
            <div class="card-image">
              <figure class="image is-2by3">
                <a>
                  <img [src]="book.image">
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4 is-text-overflow">{{book.title}}</p>
                  <p class="subtitle is-6 is-text-overflow has-tooltip-bottom">{{book.author}}</p>
                </div>
                <div class="media-content">
                    <p class="title is-4 is-text-overflow">{{book.isbn}}</p>
                    <p class="subtitle is-6 is-text-overflow has-tooltip-bottom">{{book.pages}}</p>
                    <p class="subtitle is-6 is-text-overflow has-tooltip-bottom">{{book.dateOfPublication}}</p>
                  </div>                
              </div>
            </div>
          </div>
    </div>
</div>
