#capa{
    width: 300px;
    height: 430px;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

.min-height{
    min-height: 450px;
}


@media(max-width: 768px) {
    #image-display{
        display: none;
    }
    .button{
        width: 80px;
        font-size: 0.7rem;
    }
}