<app-navbar-admin></app-navbar-admin>

<div class="columns is-multiline is-centered add-padding">
    <div class="column is-one-third change-width" *ngFor="let b of listAllBookUsers">
        <div class="card is-half">
            <div class="card-content">
              <div class="media" >
                <div class="media-content">
                  <p class="subtitle is-6 divCursor" >{{b.idUser}}</p>
                  <p class="subtitle is-6 divCursor">{{b.bookId}}</p>
                  <p class="subtitle is-6 divCursor">{{b.loadDate}}</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>