<app-navbar-admin></app-navbar-admin>

<div class="columns is-multiline is-centered add-padding">
    <div class="column is-one-third change-width" *ngFor="let b of listAllBookUsers">
        <div class="card is-half">
            <div class="card-content">
              <div class="media" >
                <div class="media-content">
                  <p class="title is-4 divCursor" routerLink="/userDetail/{{b._id}}">{{b.idUser}}</p>
                  <p class="subtitle is-6 divCursor" routerLink="/userDetail/{{b._id}}">{{b}}</p>
                  <button type="button" (click)="excluir(b)" class="button is-danger is-small">Excluir</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>