
<app-navbar-admin *ngIf="isAdmin"></app-navbar-admin>
<app-navbar *ngIf="!isAdmin"></app-navbar>

<div class="column is-5-desktop is-8-tablet is-offset-2-tablet is-offset-0-desktop">
    <div class="card">
        <div class="card-content">
            <h2 class="title is-2">{{title}}</h2>
            <div class="content">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <td>Livro</td>
                            <td *ngIf="isAdmin">Usuário</td>
                            <td>Data do empréstimo</td>
                            <td>Data da previsão de entrega</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of listAllBooks">
                            <td><a routerLink="/detailsBook/{{b.bookId._id}}">{{b.bookId.title}}</a></td>
                            <td *ngIf="isAdmin"><a routerLink="/userDetail/{{b.userId._id}}">{{b.userId.name}}</a></td>
                            <td>{{b.loadDate | date}}</td>
                            <td>{{b.expectedDeliveryDate | date}}</td>
                            <td> <button class="button is-danger is-medium" (click)="delete(b._id,b.bookId)">
                                Devolver
                               </button></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div>
