<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <img src="https://i.imgur.com/2fwA079.png">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home">
          Estante
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
           Opções
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/bookBorrowed">
              Livros emprestados
            </a>
            <a class="navbar-item" routerLink="/booksLate">
              Livros atrasados
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" routerLink="/userList">
              Usuários
            </a>
            <a class="navbar-item" routerLink="/loadBooksUsers">
                Usuários com livros
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" routerLink="/registerBook">
              <strong>Novo Livro</strong>
            </a>
            <a class="button is-light" (click)="logout()">
              Sair
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>